
/* General styles */
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  margin: 0;
  padding: 0;
  background-color: rgba(189, 142, 233, 0.479);
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header,
footer {
  display: flex;
  gap: 1em;
  padding: 0.25em 0.5em;
  background-color: rgb(104, 13, 122);
  color: white;
}

header {
  border-bottom: 1px solid rgb(202, 28, 236);
}

footer {
  border-top: 1px solid rgb(202, 28, 236);
  text-align: center;
}

header h1 {
  margin: 0;
  padding: 0;
  font-size: 1em;
  line-height: 1em;
}

header a,
footer a {
  color: rgb(233, 233, 233);
}

header a:hover,
footer a:hover {
  text-decoration: underline;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
  text-align: right;
}

nav ul li {
  align-items: baseline;
}

header a,
header a:visited {
  text-decoration: none;
}

header a:hover {
  text-decoration: underline;
}

main {
  padding: 0.5em 0.25em;
  flex-grow: 1;
}

main h2,
main h3 {
  font-size: inherit;
  padding: 0 0 1em 0;
  margin: 0;
}

footer {
  text-align: center;
}

footer p {
  margin: 0;
  padding: 0;
  display: block;
  width: 100%
}

table {
  border-collapse: collapse;
}

/* Last Updated */
.last-updated,
.source-info {
  font-size: 80%;
  color: rgb(100, 100, 100);
  text-align: center;
  padding: 0.5em 0;
}

/* Servers List */
.servers {
  width: 100%;
  max-width: 20em;
  margin: 0 auto;
}

.servers a {
  color: rgb(49, 47, 38);
  text-decoration: none;
}

/* Bars */
.bars {
  display: flex;
  justify-content: flex-end;
  gap: 0.1em;
  height: 1em;
}

.bar-container {
  height: 100%;
  width: 0.5em;
  display: flex;
  align-items: flex-end;
}

.bar {
  display: block;
  font-style: normal;
  width: 100%;
}

.bar.high {
  border-top: 1px solid rgba(9, 83, 42, 0.5);
  background-color: rgba(18, 168, 85, 0.5);
}

.bar.mid {
  border-top: 1px solid rgba(87, 60, 9, 0.5);
  background-color: rgba(168, 116, 18, 0.5);
}

.bar.low {
  border-top: 1px solid rgba(160, 20, 20, 0.5);
  background-color: rgba(216, 25, 25, 0.5);
}

/* Utility Styles */
.breadcrumb {
  margin-bottom: 1em;
}

.breadcrumb a {
  color: black;
}

/* Uptime Checks Table */
.checks th,
.checks td {
  padding: 0.25em 0.5em;
}

.checks th {
  background-color: rgba(144, 87, 155, 0.226);
}

.checks th:first-child {
  border-radius: 3px 0 0 0;
}

.checks th:last-child {
  border-radius: 0 3px 0 0;
}
