<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Status page for all Asheron's Call private servers">
  <title>Asheron's Call Private Server Status Page</title>
  <link rel="stylesheet" href="/static/styles.css" />
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico" />
</head>

<body>
  <header>
    <nav class="header-contents">
      <ul>
        <li>
          <h1><a href="/">🦐 Servers</a></h1>
        </li>
      </ul>
      <ul>
        <li>
          <a href="/api">API</a>
        </li>
        <li>
          <a href="https://github.com/amoeba/ac-server-monitor">
            <img width="24" height="24" src="/static/images/GitHub-Mark-Light-64px.png" />
          </a>
        </li>
        <li>
          <a href="https://discord.gg/MDSSYeW2c5">
            <img width="24" height="18.18416807" src="/static/images/icon_clyde_white_RGB.png" />
          </a>
        </li>
      </ul>
    </nav>
  </header>
