<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Status page for all Asheron's Call private servers">
  <title>Asheron's Call Private Server Status Page</title>
  <link rel="stylesheet" href="/static/styles.css"/>
  <link rel="icon" type="image/x-icon" href="/static/favicon.ico"/>
</head>
<body>
  <header>
    <h1>
      <a href="/">Asheron's Call Private Server Status Page</a>
    </h1>
  </header>
