{{ template "_header.html" }}
<ul>
  {{ range $row := .Servers }}
  <li>
    <span>{{ if $row.Status.IsOnline }}{{"🟢"}}{{else}}{{"🔴"}}{{end}}</span>
    <span>{{ $row.Name }}</span>
    <div class="bars">
      {{ range $uptime := $row.Uptime }}
        <div class="bar-container">
          <i class="bar"
              data-date="{{ $uptime.Date }}"
              data-uptime="{{ $uptime.Uptime }}"
              data-n="{{ $uptime.N }}"
              style="height: {{ $uptime.Uptime }}%;"></i>
        </div>
      {{ end }}
      </div>
  </li>
  {{ end }}
</ul>
{{ template "_footer.html" }}
