{{ template "_header.html" }}
<ul>
  {{ range $row := .Servers }}
  <li>
    <span>{{ if $row.Status.IsOnline }}{{"🟢"}}{{else}}{{"🔴"}}{{end}}</span>
    <span>{{ $row.Name }}</span>
    <div class="bars">
      {{ range $uptime := $row.Uptime }}
        <div class="bar-container"
          aria-label="{{ $uptime.Date }}: {{ $uptime.UptimeFmt }}% (n={{ $uptime.N }})"
          role="tooltip"
          data-microtip-position="top">
          <i class="bar" style="height: {{ $uptime.Uptime }}%;"></i>
        </div>
      {{ end }}
      </div>
  </li>
  {{ end }}
</ul>
{{ template "_footer.html" }}
