{{ template "_header.html" }}
<main>
  <div class="last-updated">⏰ Last updated ten seconds ago</div>
  <table class="servers">
    <tbody>
    {{ range $row := .Servers }}
    <tr>
      <td class="server-online">{{ if $row.Status.IsOnline }}{{"🟢"}}{{else}}{{"🔴"}}{{end}}</td>
      <td class="server-name"><a href="/statuses/{{ $row.ID }}">{{ $row.Name }}</a></td>
      <td class="server-bars">
        <div class="bars">
          {{ range $uptime := $row.Uptime }}
            <div class="bar-container"
            data-tippy-content="<div><strong>{{ $uptime.Date }}</strong></div><div>Uptime: {{ $uptime.UptimeFmt }}%</div><div>Mean: {{ $uptime.RTTMean }} ms</div><div>Range: {{$uptime.RTTMin}}-{{$uptime.RTTMax}} ms</div><div>N: {{ $uptime.N }}</div>">
              <i class="bar {{ $uptime.UptimeClass }}" style="height: {{ $uptime.Uptime }}%;"></i>
            </div>
          {{ end }}
          </div>
        </td>
      </tr>
    {{ end }}
    </tbody>
  </table>
  <div class="source-info">
    <p>List sourced from <a href="https://github.com/acresources/serverslist">acresources/serverslist</a>.</p>
  </div>
</main>
{{ template "_footer.html" }}
